body 
{
    background-color: #EEE2DC;
}

/* Box at the top of the site. Unused right now*/
.header 
{
    /*font-family: 'Quicksand', sans-serif;*/
    text-align: center;
    margin: auto;
    box-shadow: 0px 8px 6px -6px #474753;
    /*border-radius: 25px;*/
    background: #A8D0E6;
    padding: 20px;
    width: 200px;
    height: 150px;
}

/* Just my name in header */
.name
{
    font-family: 'Lobster', cursive;
    text-shadow: 2px 1px white;
    color: #474753;
    text-align: left;
}

/* Body of the site. Maybe the font color I'll use and font-family */
.bodyOne
{
    font-family: 'Quicksand', sans-serif;
    color: #474753;
}

/* Skills */
.boxOne
{
    font-family: 'Quicksand', sans-serif;
    text-align: center;

    /*Perfered Inner Shadow*/
    /*box-shadow: 0px 8px 6px -6px #474753;*/
    box-shadow: 10px 15px #474753;
    border-radius: 25px;
    background: #E9322E;
    padding: 20px;
    /*width orginal: 200px*/
    width: 400px;
    height: 150px;
}

/* New box */
.boxTwo
{
    font-family: 'Quicksand', sans-serif;
    text-align: center;

    box-shadow: 10px 15px #474753;
    border-radius: 25px;
    background: #fca400;
    padding: 20px;
    width: 400px;
    height: 150px;
}

.boxThree
{
    font-family: 'Quicksand', sans-serif;
    text-align: center;

    /*Original*/
    /*box-shadow: 5px 10px #474753;*/
    box-shadow: 10px 15px #474753;
    border-radius: 25px;
    background: #488f5b;
    padding: 20px;
    width: 400px;
    height: 150px;
}

/* Use for the subheader items */
.subHeaders
{
    font-family: 'Quicksand', sans-serif;
    color: #ECECEC;
    text-decoration: underline;
    text-shadow: 2px 1px #19181A;
}

.columnOne
{
    column-count: 3;
    margin: auto;
}

.skillsList
{
    font-family: 'Quicksand', sans-serif;
    color: #ECECEC;
    text-shadow: 1px .5px #19181A;
    text-align: left;  
    margin: 10px 0;
    line-height: 1em;
}

.bigBox
{
    box-shadow: 0px 8px 6px -6px #474753;
    margin: auto;
    /*border-radius: 25px;*/
    background: #00d60b;
    padding: 20px;
    width: 400px;
    height: 1000px; 
}

.columnTwo
{
    column-count: 2;
    font-family: 'Quicksand', sans-serif;
    color: #c50424;
}

