body 
{
    /*EEE2DC*/
    background-color: #EEE2DC;
    
}

/* Box at the top of the site. Unused right now*/
.header 
{
    /*font-family: 'Quicksand', sans-serif;*/
    text-align: center;
    margin: auto;
    box-shadow: 0px 8px 6px -6px #474753;
    /*border-radius: 25px;*/
    background: #A8D0E6;
    padding: 20px;
    width: 200px;
    height: 150px;
}

/* Just my name in header */
.name
{
    font-family: 'Noto Sans JP', sans-serif;
    text-shadow: 6px 3px #ECECEC;
    color: #19181A;
    text-align: left;
    margin-left: 40px;
}

/* Style for contact information */
.contact
{
    font-family: 'Noto Sans JP', sans-serif;
    text-shadow: 6px 3px #ECECEC;
    color: #19181A;
    text-align: left;
    margin-left: 40px;
}

/* Body of the site. Maybe the font color I'll use and font-family */
.bodyOne
{
    font-family: 'Quicksand', sans-serif;
    color: #474753;
}

/* Skills */
.boxOne
{
    font-family: 'Quicksand', sans-serif;
    text-align: center;

    /*Perfered Inner Shadow*/
    /*box-shadow: 0px 8px 6px -6px #474753;*/
    box-shadow: 10px 15px #474753;
    border-radius: 25px;
    background: #E9322E;
    padding: 20px;
    /*width orginal: 200px*/
    width: 400px;
    height: 150px;
}

/* Education */
.boxTwo
{
    font-family: 'Quicksand', sans-serif;
    text-align: center;

    box-shadow: 10px 15px #474753;
    border-radius: 25px;
    background: #fca400;
    padding: 20px;
    width: 400px;
    height: 150px;
}

/* Experience */
.boxThree
{
    font-family: 'Quicksand', sans-serif;
    text-align: center;

    /*Original*/
    /*box-shadow: 5px 10px #474753;*/
    box-shadow: 10px 15px #474753;
    border-radius: 25px;
    background: #488f5b;
    padding: 20px;
    width: 400px;
    height: 150px;
}

/* Box on top of resume */ 
.boxFour
{
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    

    /*Original*/
    /*box-shadow: 5px 10px #474753;*/
    box-shadow: 10px 15px #474753;
    border-radius: 25px;
    background: #2a9df4;
    padding: 20px;
    width: 150px;
    height: 50px;
}

/* Use for the subheader items */
.subHeaders
{
    font-family: 'Quicksand', sans-serif;
    color: #ECECEC;
    /*ECECEC*/
    text-decoration: underline;
    text-shadow: 2px 1px #19181A;
}

/*Spacing for the three boxes on top of the page */
.columnOne
{
    column-count: 3;
    column-gap: 150px;
    margin: auto;
}

/* List used for items on the top of the page */
.skillsList
{
    font-family: 'Quicksand', sans-serif;
    color: #ECECEC;
    text-shadow: 1px .5px #19181A;
    text-align: left;  
    margin: 10px 0;
    line-height: 1em;
    margin-top: 1em;
}

/*This is where a bulk of the infromation is stored */
.mainBody
{
    font-family: 'Quicksand', sans-serif;
    color: #474753;
    text-shadow: 1px .5px #ECECEC;
    width: 33%;
    margin-left: 90px;
    margin-top: 40px;

}

/* Right side of the body */
.sideBody
{
   text-align: right;
}

/* Degree list */
.degrees
{
    color: #19181A;
}

/* Used for the top header outside of mainBody */
.resumeHeaders
{
    font-family: 'Quicksand', sans-serif;
    color: #19BDFF;
    /*ECECEC*/
    text-decoration: underline;
    text-shadow: 2px 1px #ECECEC;
    margin-left: 90px;
}

/* Used for the header inside of mainBody */
.resumeHeadersInside
{
    font-family: 'Quicksand', sans-serif;
    color: #19BDFF;
    /*ECECEC*/
    text-decoration: underline;
    text-shadow: 2px 1px #ECECEC;
}

